html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.main {
	height: 100%;
}
img {
	margin-top: 20%;
	width: 30%;
	height: auto;
}
.main {
	font-size: 5rem;
font-family: 'Indie Flower', cursive;


}
.videos {
 background: linear-gradient(red, yellow);

}
.juegos {

	   background: linear-gradient( yellow, green);
}