body {
	 background-image:url("blue.png");	
	 height: auto;
	 width: auto;
	 background-size: cover;
	  margin: 0;
}
.Body-Games{
	background-image: url(bka.png);
	 height: auto;
	 width: auto;
	 background-size: cover;
	  margin: 0;
}
.Body-Videos{
	background-image: url(bk-mv.png);
	 height: auto;
	 width: auto;
	 background-size: cover;
	  margin: 0;
}
.Body-V{
	background-image: url(bk-mv.png);
	 height: auto;
	 width: auto;
	 background-size: cover;
	  margin: 0;
}
table {
	margin-top: 9%;
	width: 100%;
}
img {
	width: 200px;
	height: auto;
}
td {
	width: 30%;
	text-align: center;
}
h4{
font-family: 'Comic Sans MS', cursive;
}
#jan {
	text-align: right;
}

#oficio {
	font-family: 'Comic Sans MS', serif;
	font-size: 50px;
	font-family: 'Comic Sans MS', cursive;
}
#titulo {
	font-family: 'Indie Flower', cursive;
	font-size: 70px;
	margin-bottom: 50px;
}

.buttons {
	padding-top: 5%;
	text-align: left;
	padding-left: 2%;
}
.buttons img {
	width: 20%;
	height: auto;
	padding-bottom: 20%;
}
div.container {
	margin-top: 8%;
}

.imagencont {
	border-radius: 50%;
	height: 100%;
	width: 100%;
	border-color: black;
	border-width: 15px;
	border-style: double;
}
.img-circular {
	padding: 5px;
	height: 200px;
	width: auto;
}
.img-circular:hover{
  transform: scale(1.5);
}
.opcion-oficio {
	float: left;
	margin-left: 50px;
	margin-bottom: 50px;
	height: 200px;
	width: 200px;

}
.fila {
	display: inline-block;

}
#carwash {
	width: 80%;
	height: auto;
	padding-top: 20%;
}
.calificacion {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
}
.boton {
	background-color: red;
	font-size: 30px;
	color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 0 1px black, 0 1px black ;
	border-color:black;
	border: 2px;	
	border-radius: 5%;
	padding: 5px;
	font-family: 'Indie Flower', cursive;
} 
.boton:hover {
	text-decoration:none;
}
.a:hover{

	 transform: scale(1.5);
}
.img-circular:hover{
transform: scale(1.5);
}
