html {
	background: linear-gradient(to right,#209cff,#68e0cf);	
	height: 100%;
}
table {
	margin-top: 10%;
	width: 100%;
}
img {
	width: 200px;
	height: auto;
}
td {
	width: 30%;
	text-align: center;
}
#jan {
	text-align: right;
}
.buttons {
	padding-top: 5%;
	text-align: left;
	padding-left: 2%;
}
.buttons img {
	width: 20%;
	height: auto;
	padding-bottom: 20%;
}

