body {
	 background: linear-gradient( green, #82fc67, #fff600);	
	height: 100%;
}
table {
	margin-top: 9%;
	width: 100%;
}
img {
	width: 200px;
	height: auto;
}
td {
	width: 30%;
	text-align: center;
}
h4{
font-family: 'Indie Flower', cursive;
}
#jan {
	text-align: right;
}

#oficio {
	font-family: 'BioRhyme', serif;
	font-size: 50px;
	font-family: 'Indie Flower', cursive;
}
#titulo {
		font-family: 'Indie Flower', cursive;
	font-size: 70px;
	margin-bottom: 50px;
}

.buttons {
	padding-top: 5%;
	text-align: left;
	padding-left: 2%;
}
.buttons img {
	width: 20%;
	height: auto;
	padding-bottom: 20%;
}
div.container {
	margin-top: 8%;
}

.imagencont {
	border-radius: 50%;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.img-circular {
	padding: 5px;
	height: 200px;
	width: auto;
}
.opcion-oficio {
	float: left;
	margin-left: 50px;
	margin-bottom: 50px;
	height: 200px;
	width: 200px;

}
.fila {
	display: inline-block;

}
#carwash {
	width: 80%;
	height: auto;
	padding-top: 20%;
}
